@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Montserrat&display=swap');

body {
    background: linear-gradient(45deg, #4158D0, #C850C0, #FFCC70);
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.black {
    color: black;
}

.main-text {
    margin-bottom: 20px;
}